{% extends "shared/_layout.html" %}
{%  block title %}Case{% endblock %}

{% block page_content_middle %}
    <div class="hero">
    <h1>Case description</h1>

    <h2>We present a case of a corrective single cut osteotomy due to a complex multiplanar radius deformation in a Shetland pony foal</h2>


The author of a recently published study stated that a single cut osteotomy is always preferred against closing wedge solutions due to better bone contact and faster bone healing.[8]
The single cut osteotomy requires a complex 3-dimensional planning.[3, 8]
There is a mathematical analysis of single-cut osteotomy for complex long bone deformity [3]
This analysis [3] was the basis of our surgical planning.
    <h2>History</h2>

A 9-week-old male Shetland pony foal (xxx kg) was referred for further assessment of a complex malformation of the right forelimb. The owners had rescued the animal at the age of 6 weeks. The referring veterinary surgeon suspected a congenital deformity of the right forelimb or intra-uterine fracture of the radius with subsequent malunion.
    <h2>Clinical findings</h2>
On admission, the foal was bright, alert, and responsive with all vital parameters within normal limits. A severe deformity of the right forelimb with lateral deviation of the radial diaphysis, carpus valgus and lateral rotation of the carpus and distal extremity, as well as hyperextension of the metacarpophalangeal joint was evident (Figure 1). The foal was weight bearing on all four limbs and was able to ambulate at walk, trot and canter, but displayed what appeared to be a mechanical lameness of the right forelimb. Additionally, a mild form of campylorhinus lateralis ad sinister (‘wry nose’) was noticed. The neurological examination did not reveal any abnormal findings. Blood hematology identified a packed cell volume of 23% and a mild leucocytosis (13,6x109/L) with all blood biochemical parameters within normal limits.

    </div>

{% endblock %}


