{% extends "shared/base_0.html" %}
{% block content %}

    <div class="hero">
        <h1>Single Cut Rotational Osteotomy</h1>

        <label>
            <input type="text" placeholder="Coronal Component C" class="for">
        </label>
        <label>
            <input type="text" placeholder="Sagittal Component S" class="form-control">
        </label>
        <label>
            <input type="text" placeholder="Torsion Component T" class="form-control">
        </label>

        or <a href="#">browse projects</a>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <h2>Hauptseite - Inhalt</h2>

                <div>Text.................................................
                     Text.................................................
                     Text.................................................
                     Text.................................................
                </div>

                <div class="project">
                    <div class="title">
                        <div> Text.................................................
                              Text.................................................
                              Text.................................................
                              Text.................................................

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}