{% extends "shared/base_0.html" %}
{% block page_content_middle %}
{{ super() }}

    <div class="hero">
        <h1>
            Single Cut Rotational Osteotomy
        </h1>

There are three different types of corrective osteotomies/ostectomies described in equine literature. The step ostectomy in the sagittal plane, the step osteotomy in the frontal plane and the closing wedge ostectomy.[1] (Beschreibung der Methoden?)
In equine surgery osteotomies/ostectomies are performed to correct angular limb deformities or malunions.
In human medicine there are several descriptions for single cut osteotomies the deformities mostly occur because of malunion.[2-8]
    </div>

{% endblock %}3