{% extends "shared/_layout.html" %}
{%  block title %}About Osteotomy{% endblock %}

{% block page_content_middle%}
    <div class="hero">
    <h1>About Single Cut Rotational Osteotomy</h1>
    <div class="under_construction">
         Under Construction
    </div>
    <ul>
    <li><a href="#Literature">Literature</a></li>
    <li><a href="#Sources">Sources</a></li>
    <li><a href="#Links">Links</a></li>
    </ul>

    <br />

    <a id="Literature">Literature</a>
    <br />
    <a id="Sources">Sources</a>
    <br />
    <a id="Links">Links</a>
    <br />


    </div>
{%  endblock %}

