{% extends "shared/_layout.html" %}
{%  block title %}Imprint{% endblock %}

{% block page_content_middle%}
    <div class="hero">
    <h1>Osteotomytool.de</h1>

    <p><a href="https://www.freeprivacypolicy.com/live/d1ea3b02-a303-4c07-9825-d76960a976fa" target="_blank" rel="nofollow">
            Privacy Policy</a></p>

    <h2>Imprint</h2>
        <div id="gf_page_steps_31" class="gf_page_steps">
            <div id="gf_step_31_1" class="gf_step gf_step_pending gf_step_first">
                <span class="gf_step_number">1</span>
                <span class="gf_step_label">General Information</span>
            </div><div id="gf_step_31_2" class="gf_step gf_step_pending">
            <span class="gf_step_number">2</span>
            <span class="gf_step_label">Legal Information</span>
        </div><div id="gf_step_31_3" class="gf_step gf_step_last gf_step_active">
            <span class="gf_step_number">3</span>
            <span class="gf_step_label">Imprint</span>
        </div>
        </div><p><strong>Uwe Schweinsberg</strong><br />
            Pommerellenstr. 10 Ingenieurbüro Schweinsberg<br />
            44789 Bochum<br />
            </p><p>
            Telephone: +49 234 6405526<br />
            E-Mail: uwe.schweinsberg@t-online.de<br />
            </p><p>
            authorized representative: Uwe Schweinsberg<br />

            tax ID number (Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz): 306/5218/0113<br />
            </p><p><strong> Responsible according to the German Presss Law § 55 Abs. 2 RStV:</strong><br />
            Uwe Schweinsberg<br />




    </div>
{%  endblock %}

