{% extends "shared/_layout.html" %}
{%  block title %}Imprint{% endblock %}

{% block page_content_middle%}
    <div class="hero">
    <h1>Osteotomytool.de</h1>

    <p><a href="/privacy_policy">Privacy Policy</a></p>

    <h2>Imprint</h2>

        </div><p><strong>Uwe Schweinsberg</strong><br />
            Ingenieurbüro Schweinsberg <br />
            Pommerellenstr. 10 <br />
            44789 Bochum<br />
            </p><p>
            Telephone: +49 234 6405526<br />
            E-Mail: uwe.schweinsberg@t-online.de<br />
            </p><p>
            authorized representative: Uwe Schweinsberg<br />

            tax ID number: 306/5218/0113<br />
            </p><p><strong> Responsible according to the German Presss Law § 55 Abs. 2 RStV:</strong><br />
            Uwe Schweinsberg<br />




    </div>
{%  endblock %}

