{% extends "shared/_layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content_middle %}
{{ super() }}

    <div class="hero">
        <div class="under_construction">
            <h1>
                announcement 31.12.2024:
                The osteotomytool.de site will soon be online again.
            </h1>
            <p>The website is currently under construction. Please check back later.</p>
        </div>


<p>There are three different types of corrective osteotomies/ostectomies described in equine literature. </p>

The step ostectomy in the sagittal plane, the step osteotomy in the frontal plane and the closing wedge ostectomy.[1]
In equine surgery osteotomies/ostectomies are performed to correct angular limb deformities or malunions.
In human medicine there are several descriptions for single cut osteotomies the deformities mostly occur because of malunion.[2-8]
    </div>

{% endblock %}