<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Responsive HTML5 Page Layout Template</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
	<header>
		<div id="logo"><img src="/logo.png" alt="logo">Nginx message</div>
		<nav>  
			<ul>
				<li><a href="/">Home</a>
			</ul>
		</nav>
	</header>
	<section>
		<strong>osteotomy.de is temporably not available</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<h2>Please try again later</h2>
				<p>until further notice osteotomy.de is in a testing phase. If you participate in the testing and would expect another message please contact <p><a href="mailto:yetigo42+osteotomy@gmail.com?Subject=Hi%20mate" target="_top">Send Mail</a></p></p>
			</article>
		</main>
		<aside>
			<div>Sidebar 1</div>
			<div>Sidebar 2</div>
			<div>Sidebar 3</div>
		</aside>
	</section>
	<footer>
		<p>&copy; You can copy, edit and publish this template but please leave a link to our website | <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
		<address>
			Contact: <a href="mailto:yetigo42@osteotomy.com">Mail me</a>
		</address>
	</footer>


</body>

</html>
