.navbar-default {
    background-color: #6b9e1f;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 25px;
}

.fluid-top {
    background: #cccccc;
}

.fluid-middle .row {
    padding: 0px;
    padding-bottom: 60px;
    background: white;
}

.content_main .row{
    background: #ff8981;
}

.fluid-bottom .footer .copyright {
    font-size: 20px;

}

.fluid-bottom {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    background: #cccccc;
}

.hero {
    font-size: 18px;
}
.page-header {
    background: white;
}

.bold {
    color: #332aff;
    font-size: 24px;
}
