{% extends "shared/_layout.html" %}
{%  block title %}About Osteotomy{% endblock %}

{% block page_content_middle%}
    <div class="hero">
    <h1>Osteotomytool.de</h1>
<p>This  calculation tool is accompanying the Verterinary Surgery publication:
        <p><a href="https://onlinelibrary.wiley.com/doi/10.1111/vsu.13725?af=R" target="_blank" rel="nofollow">
            Single-cut osteotomy for correction of a complex multiplanar deformity of the radius in a Shetland
            pony foal</a></p>
<p>Get in contact with the autor:
        <p><a href="mailto:lorenz.schweinsberg@fu-berlin.de?Subject=Osteotomytool.de%20Get%20in%20contact" target="_top">Lorenz Schweinsberg DVM</a></p>
<p>Get in contact with web-site developer:
        <p><a href="mailto:butayama@gmail.com?Subject=Osteotomytool.de%20Get%20in%20contact" target="_top">Uwe Schweinsberg DING</a></p>
{#    <ul>#}
{#    <li><a href="#Literature">Literature</a></li>#}
{#    <li><a href="#Sources">Sources</a></li>#}
{#    <li><a href="#Links">Links</a></li>#}
{#    </ul>#}
{##}
{#    <br />#}
{##}
{#    <a id="Literature">Literature</a>#}
{#    <br />#}
{#    <a id="Sources">Sources</a>#}
{#    <br />#}
{#    <a id="Links">Links</a>#}
{#    <br />#}


    </div>
{%  endblock %}

