{% extends "shared/_layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{%  block title %}Case{% endblock %}

{% block page_content_middle %}
    <div class="hero">
    <h1>Case description</h1>

    <h2>We present a case of a corrective single cut osteotomy due to a complex multiplanar radius deformation in a Shetland pony foal</h2>



    <h2>History</h2>


    <h2>Clinical findings</h2>
On admission, the foal was bright, alert, and responsive with all vital parameters within normal limits.

    </div>

{% endblock %}


