{% extends "shared/_layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{%  block title %}Case{% endblock %}

{% block page_content_middle %}
    <div class="hero">

        <h3><b>Objective</b></h3> To report a surgical correction of a multiplanar deformity of the right radius in a pony using a single cut osteotomy.
Study design: Case report.
        <h3><b>Animals</b></h3> A nine-week old male Shetland pony foal.
        <h3><b>Methods</b></h3> The foal was presented with a multiplanar deformity of the right radius. The deformity was corrected using a single cut osteotomy based on a 3-d pre surgical planning and using the mathematical approach from Sangeorzan et al. for calculation of the cutting plane. After the osteotomy the bone was stabilized with 4.5mm LCP double plating.
        <h3><b>Results</b></h3> The follow up showed a satisfactory outcome.
        <h3><b>Conclusion</b></h3> The single cut osteotomy is a straightforward option for correction of a multiplanar deformity of long bones in horses. The surgical procedure requires an intensive pre surgical planning.
        <h3><b>Clinical significance</b></h3> The first reported case of a single cut osteotomy for correction of a multiplanar deformity of a long bone of a horse. The tool developed by the authors will potentially facilitate the pre surgical planning for upcoming cases.

    </div>

{% endblock %}


