{% extends "shared/_layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content_middle %}
{{ super() }}

    <div class="hero">
        <div class="under_construction">
            <h1>
                modified 3.12.2020:
                include Video Test
            </h1>
        </div>

        <video controls width=100%>

            <source src="../static/videos/rotating_camera.webm"
                    type="video/webm">
{#            <source src="../static/videos/rotating_camera.mkv"#}
{#                    type="video/mkv">#}
{# https://blender.stackexchange.com/questions/120099/how-do-i-export-a-video-from-blender #}
{#            <source src="../static/videos/rotating_camera.mp4"#}
{#                    type="video/mp4">#}

            Sorry, your browser doesn't support embedded videos.
        </video>
<p>
simple Video Test
</p>
<p>There are three different types of corrective osteotomies/ostectomies described in equine literature. </p>

The step ostectomy in the sagittal plane, the step osteotomy in the frontal plane and the closing wedge ostectomy.[1]
In equine surgery osteotomies/ostectomies are performed to correct angular limb deformities or malunions.
In human medicine there are several descriptions for single cut osteotomies the deformities mostly occur because of malunion.[2-8]
    </div>

{% endblock %}3