{% extends "shared/_layout.html" %}

{%  block title %}Sign Rules{% endblock %}

{% block page_content_middle %}

    <h1>Definition of the Angle-Signs:</h1>
    <p><img class="fit_width" alt="coronal_front0001.png" src="../static/images/sign_definitions/angle_signs.png" width="100%"></p>
<p>In the following sign definition examples, the green bone represents the sane tibia (right side of the body). The white left side of the body tibia is bent according to the example of sangeorzan:
<div class="inside">
    <ul class="list-group" >
      <li>Coronal plane: Varus (positive sign for C = 13 degrees)</li>
      <li>Sagittal plane: Recurvatum (negative sign for S = -19 degrees)</li>
      <li>Transverse plane: Internal rotation (positive sign for T = 10 degrees)</li>
    </ul>
</div>


<h3>Coronal Front sign definitions</h3>
<p><img class="fit_width" alt="coronal_front0001.png" src="../static/images/sign_definitions/coronal_front0001.png" width="100%"></p>
<h3>Sagittal Front sign definitions</h3>
<p><img alt="sagittal_front0001.png" src="../static/images/sign_definitions/sagittal_front0001.png" width="100%"></p>
<h3>Transverse sign definitions</h3>
<p><img alt="transverse_top_and_bottom_0001.png" src="../static/images/sign_definitions/transverse_top_and_bottom_0001.png" width="100%"></p>
<p>The application of the calculation results must follow these guidelines:</p>
<h3>Sign rule for angle Phi</h3>
<ul>
<li>Start from the coronal plane (0°). From there the positive rotation is defined in <strong>lateral</strong> direction.</li>
</ul>
<p>As a consequence of this rule, the sign of Phi and Beta of the calculation result is correct for the left side of the body bones and changes for the right side of the body bones.</p>
<blockquote>
<p>Left side of the body bone:</p>
<blockquote>
<p>For the rotation of the cutting plane, the sign rule for angle Phi (Rotation Z) and Beta (Local Rotation Z around Vector k) results in a positive rotation around the Z-axis in the plane of no deformity coordinate system (C1) which is chosen according to <a href="#ref 2">Sangeorzan (Biomech) 1989</a> Fig. 3.</p>
</blockquote>
<p>Right side of the body bone:</p>
<blockquote>
<p>For the rotation of the cutting plane, the sign rule for angle Phi and Beta results in a negative rotation around the Z-axis in the plane of no deformity coordinate system (C1) which is chosen according to <a href="#ref 2">Sangeorzan (Biomech) 1989</a> Fig. 3.
Therefore the calculation result values for angle Phi and Beta must be entered with inverse sign into the blender templates for right side of the body bones.
See <a href="#Sangeorzan-Example-for-the-right-side-of-the-body">Sangeorzan Example for the right side of the body</a></p>
</blockquote>
</blockquote>
<p>The Theta rotation axis is the Y-axis of the C1 coordinate system which has been rotated laterally around Phi. The sign of the Theta calculation result correlates with the positive rotation direction of Y in the laterally rotated C1. Therefore the sign is independent from the side of the body and the Theta sign can be entered unaltered in the blender Osteotomy templates (Rotation Y).</p>
<p>Rotating the distal segment by Beta around vector k compensates bone deflection and torsion. <a href="#ref-4">Dobbe, Med Biol Eng Comput (2011), Fig 2</a>.</p>
<h1>Sangeorzan Example for the right side of the body</h1>
<p>By mirrowing the sane and deformed bones along the y-Axis the Sangeorzan example becomes a template for a bone from the right side of the body, where the signs of Phi and Beta have to be entered with changed signs.<br />
Separate from the sign change, the measurements and the cut procedures are the same as for the left side of the body.  </p>
<h2>links to the example .blend files for the right side of the body bone example</h2>
<p><a href="../static/rh/Sangeorzan_a1_as_right_bone.blend">Sangeorzan_a1_as_right_bone.blend</a>  </p>
<p><img alt="Sangeorzan_as_right_bone_angle_measurements_a1.png" src="../static/rh/Sangeorzan_as_right_bone_angle_measurements_a1.png" width="100%">  </p>
<p><img alt="Sangeorzan_as_right_bone_angle_measurements__with_bones_a1.png" src="../static/rh/Sangeorzan_as_right_bone_angle_measurements__with_bones_a1.png" width="100%"></p>
<p><a href="../static/rh/Sangeorzan_a2_as_right_bone.blend">Sangeorzan_a2_as_right_bone.blend</a>  </p>
<p><img alt="Sangeorzan_as_right_bone_a2.png" src="../static/rh/Sangeorzan_as_right_bone_a2.png" width="100%">  </p>
<p><a href="../static/rh/Sangeorzan_a3_as_right_bone.blend">Sangeorzan_a3_as_right_bone.blend</a>   </p>
<p><img alt="Sangeorzan_as_right_bone_a3.png" src="../static/rh/Sangeorzan_as_right_bone_a3.png" width="100%">  </p>
<p><a href="../static/rh/Sangeorzan_a4_as_right_bone.blend">Sangeorzan_a4_as_right_bone.blend</a>   </p>
<p><img alt="Sangeorzan_as_right_bone_a4.png" src="../static/rh/Sangeorzan_as_right_bone_a4.png" width="100%">  </p>
<p><a href="../static//rh/Sangeorzan_a5_as_right_bone.blend">Sangeorzan_a5_as_right_bone.blend</a>   </p>
<p><img alt="Sangeorzan_as_right_bone_a5_rotation_around_minus_beta.png" src="../static/rh/Sangeorzan_as_right_bone_a5_rotation_around_minus_beta.png" width="100%">   </p>
<p><img alt="Sangeorzan_as_right_bone_a5.png" src="../static/rh/Sangeorzan_as_right_bone_a5.png" width="100%">   </p>
<h1>References</h1>
<h2>ref 1</h2>
<p><a name="ref 1"></a>Sangeorzan BJ, Sangeorzan BP, Hansen ST, et al: Mathematically Directed Single-Cut Osteotomy for Correction of Tibial Malunion. J Orthop Trauma 3:267-275, 1989.</p>
<h2>ref 2</h2>
<p><a name="ref 2"></a>Sangeorzan BJ, Judd RP, Sangeorzan BJ: Mathematical Analysis of Single-cut Osteotomy of Complex Long Bone Deformity. J Biomech 22:1271-1278, 1989. </p>
<h2>ref 3</h2>
<p><a name="ref 3"></a></p>
<h2>ref 4</h2>
<p><a name="ref 4"></a>Dobbe JG, Pre KJ, Kloen P, et al: Computer-assisted and patient-specific 3-D planning and evaluation of a single-cut rotational Osteotomy for complex long-bone deformities. Med Biol Eng Comput 49:1363-1370, 2011.</p>
<h2>ref 5</h2>
<p><a name="ref 5"></a>J. G. G. Dobbe, K. J. du PreÂ´, L. Blankevoort, G. J. Streekstra, P. Kloen: Computer-assisted oblique single-cut rotation osteotomy to reduce a multidirectional tibia deformity: case report Strat Traum Limb Recon (2017) 12:115-120</p>

    </div>

{% endblock %}